*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  list-style: none;
}
:root{
  --brt-cor-blue:#334876;
}
button{
  background: #171736;
  border: none;
  height: 2.5rem;
  width: 8rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
button+button{
  margin-left: 10px;
}
img{
  height: auto;
  width: 14rem;
  border-radius: 8px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 5rem;
}
header input{
  border-radius: 8px;
  outline: none;
  padding: 0 8px;
  width: 18rem;
  height: 2.5rem;
  border: 1px solid #171736;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
h1#tratarErro{
   font-size: 55px;
}
ul{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 6rem;
}
li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  border: 2px solid #171736;
  width: 15rem;
  height: 20rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: .5s;
}
li:hover{
  transform: scale(1.1);
}
section{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.cardModal {
  width: 25rem;
  height: 30rem;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #999;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  margin: 20px 0px;
}
.modal .cardModal h1{
  font-size: 18px;
  text-align: center;
  margin-top: 4rem;
}
label{
  display: block;
  margin-bottom: 10px;
}
.modal .cardModal input{
  height: 2.5rem;
  width: 18rem;
  margin-top: 5px;
  padding: 0 10px;
  border-radius: 8px;
  outline: none;
}
.modal .cardModal a{
  color: #333;
}
.btn-cancel{
  background-color: #FFF;
  color: #000;
  border: 1px solid #171736;
}